# Python
__pycache__/
*.pyc
*.pyo

# Virtual env
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Environment files
.env

# OS files
.DS_Store
Thumbs.db

# Large model files
*.pt
*.bin
*.pkl
*.onnx
*.safetensors

# VS Code
.vscode/

# Logs
*.log