# Python
__pycache__/
*.pyc
*.pyo

# Virtual env
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Environment files
.env

# OS files
.DS_Store
Thumbs.db

# Large model files
*.pt
*.bin
*.pkl
*.onnx
*.safetensors

# VS Code
.vscode/

# Logs
*.log

# Datasets and large text/JSON files
*.csv
*.jsonl
build_models/train_*/data/
build_models/train_*/outputs/

# Test assets
test_images/